*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.links{
    /* box-sizing: inherit; */
    background-color: red;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    top: 0;
    left: 0;
}

.links a{
    color: white;
}

.links ul{
    list-style: none;
    display: flex;
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-right: 2rem;
}

.links a{
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
}


.links a:hover{
    color: blue;
    transition: 0.05;
}

.name{
    height: 100vh;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
}

.name h1{
    font-size: 5rem;
    color: white;
}

.name h2{
    font-size: 3rem;
    color: red;
}

.projects-frame{
    background-color: skyblue;
    padding: 10rem 2rem;
}

.projects-frame h2{
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin: 0 auto 6rem auto;
    border-bottom: 0.4rem solid white;
    max-width: 640px;
}

.project h3{
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    border-radius: 1rem;
    border-style: solid;
    background-color: gainsboro;
}

.project{
    justify-content: center;
    align-content: center;
    color: black;
    padding: 2rem;
}

.project:hover{
    transition: 0.75s;
    background-color: white;
    border-radius: 5rem;
    transform: scale(105%);
}

footer{
    text-align: center;
    font-size: 1rem;
    background-color: gray;
}

footer span{
    font-size: 1.5rem;
    color: white;
}

.links-frame{
    padding: 3rem;
    text-align: center;
    color: white;
    background-color: #303841;
}

.links-frame h1{
    font-size: 3rem;
    padding: 3rem;
}

.links-frame a{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.links-frame a:hover{
    transition: 0.5s;
    color: green;
    transform: translate(0px, 2rem);
}